<script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>

  <nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse"
      data-target="#navbarLinks">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="logo-a" href="/"> <%= image_tag 'logo.png', class:"logo"%>
    </a>
  </div>
  <div class="collapse navbar-collapse" id="navbarLinks">
    <ul class="nav navbar-nav">
      <li class="active"><a href="#main-carousel" onclick="smoothScroll(this); return false">Home</a></li>
      <li><a href="#about" onclick="smoothScroll(this); return false">About</a></li>
      <li><a href="#events" onclick="smoothScroll(this); return false">Events</a></li>
      <!-- <li><a href="#">Menu</a></li>
      <li><a href="#">Gallery</a></li>
      <li><a href="#">Contact</a></li> -->

    </ul>
  </div>
</nav>
  <div class="carousel" id="main-carousel" data-ride="carousel">
    <div class="carousel-inner home ">
      <div class="caption-div">
        <h1 class="titlecaption">Rack City Ribs</h1>
        <span class="title-span">Eu mea nusquam deleniti intellegat, ei everti delicatissimi vis, cum ne case solum. Phaedrum voluptatibus signiferumque ne sit. Officiis adipisci ex vim, quo an graeco eligendi elaboraret, no mucius vocent similique per. Dico facilisi voluptatum pro in, aperiri elaboraret usu no.</span>
      </div>
      <div class="item  active ">
        <%= image_tag 'ribs2.jpg'%>
      </div>
      <div class="item ">
        <%= image_tag 'ribs.jpg'%>
      </div>
    </div>
  </div>
  <div class="about-bg">
    <%= render'about/about' %>
  </div>
    <%= render'events/events' %>

<script type='text/javascript'>
$(document).ready(function() {
  $('#main-carousel').carousel({
    interval: 5000
  })
});

$(window).scroll(function(){
  var width = $(window).width();
    var body = $('body');
    var menu = $('#full-menu');
    var top = $(this).scrollTop();

    $('#main-carousel img').css('top', top / 2);


});

</script>
